.promo {
    position: relative;
    min-height: 100vh;
    background: url('../../img/main_bg.jpg') center 50%/cover no-repeat;
    padding-top: 206px;
    z-index: 1;
    &_subtitle {
        position: relative;
        z-index: 1;
        @include orange_circle
    }
    &__btns {
        margin-top: 25px;
        width: 248px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        display: block;
        font-weight: 700;
        font-size: 14px;
        color: #111010;
        &:hover {
            color: #111010; 
            text-decoration: none;  
        }
        &_white {
            color:#ffff;
            &:hover {
                color: #ffff; 
                text-decoration: none;  
            }
        }   
        
    }
}